body {
  padding: 100px;
  font-family: 'Open Sans',sans-serif;
  background-image: url("../images/background-sepia.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "Quicksand";
}

li {
  display: inline;
  padding: 0 2em;

}

main {
  width:100%;
  margin:auto;
}

.homepage {
  text-decoration: none;
  display: inline-block;
  background-color: rgba(100, 20, 16, 0.3);
  color:white;
  font-size: 1.25em;
  width: 5em;
  text-align: center;
  padding: 2.5em .5em;
  border:solid;
  border-width: .1em;
  border-radius: 3.5em;
  margin: .5em 0;
}

a {
  color:white;
}

.news {
  text-decoration: none;
  display: inline-block;
  width: 10em;
  background-color: rgba(100, 20, 16, 0.3);
  padding:2em;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 6em;
  text-transform: lowercase;
  text-shadow: .04em .02em black;
  font-weight: lighter;

}

a:active {
  background-color: rgba(255,255,255,0.1);
}

a:hover {
  background-color: rgba(255,255,255,0.1);
}

h1 {

  font-size: 4em;
  text-transform: uppercase;
}


/* Fonts */

/*Quicksand*/
@font-face {
     font-family: 'Quicksand';
     src: url('../fonts/Quicksand-Regular.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Quicksand';
     src: url('../fonts/Quicksand_Bold.otf') format('opentype');
     font-weight: bold;
     font-style: normal;
}

@font-face {
     font-family: 'Quicksand';
     src: url('../fonts/Quicksand_Light.otf') format('opentype');
     font-weight: lighter;
     font-style: normal;
}



